h1 {
	font-size: 50;
  font-family: Copperplate, Georgia, fantasy;
	background-color: #476aa6;
	padding: 15px;
	border: 1px #012666
	text-align: center;
}

h2 {
	font-size: 30;
  font-family: "Times New Roman", Times, serif"
}

p1 {
}
